:root {
    --size: 50px;
}

body {
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    height: 100vh;
    perspective: 1000px;
    /* יוצר את תחושת העומק */
}

.scene {
    margin-top: 100px;
    width: calc(var(--size) * 3);
    height: calc(var(--size) * 3);
    position: relative;
}

.cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-45deg);
    /* זווית התחלתית */
    transition: transform 0.5s;
}

/* עיצוב הקוביות הקטנות */
.cubie {
    width: var(--size);
    height: var(--size);
    position: absolute;
    transform-style: preserve-3d;
}

/* פאות הקוביה הקטנה */
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    opacity: 0.9;
}

/* מיקומי הפאות */
.face--front {
    transform: rotateY(0deg) translateZ(calc(var(--size) / 2));
}

.face--right {
    transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
}

.face--back {
    transform: rotateY(180deg) translateZ(calc(var(--size) / 2));
}

.face--left {
    transform: rotateY(-90deg) translateZ(calc(var(--size) / 2));
}

.face--top {
    transform: rotateX(90deg) translateZ(calc(var(--size) / 2));
}

.face--bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
}

/* צבעים סטנדרטיים */
.f {
    background: #b90000;
}

/* Front - Red */
.b {
    background: #ff5900;
}

/* Back - Orange */
.u {
    background: #ffffff;
}

/* Up - White */
.d {
    background: #ffd500;
}

/* Down - Yellow */
.l {
    background: #009b48;
}

/* Left - Green */
.r {
    background: #0045ad;
}

/* Right - Blue */